*.pyc
__pycache__/
mark-git-safe.ps1
mark-git-safe.sh
.pytest_cache/
.vscode/
__pycache__
lubrication_flow_package/solvers/__pycache__/config.cpython-313.pyc
lubrication_flow_package/__pycache__/__init__.cpython-313.pyc
lubrication_flow_package/components/__pycache__/__init__.cpython-313.pyc
lubrication_flow_package/components/__pycache__/base.cpython-313.pyc
lubrication_flow_package/components/__pycache__/channel.cpython-313.pyc
lubrication_flow_package/components/__pycache__/connector.cpython-313.pyc
lubrication_flow_package/components/__pycache__/nozzle.cpython-313.pyc
lubrication_flow_package/config/__pycache__/__init__.cpython-313.pyc
lubrication_flow_package/config/__pycache__/network_config.cpython-313.pyc
lubrication_flow_package/config/__pycache__/simulation_config.cpython-313.pyc
lubrication_flow_package/network/__pycache__/__init__.cpython-313.pyc
lubrication_flow_package/network/__pycache__/connection.cpython-313.pyc
lubrication_flow_package/network/__pycache__/flow_network.cpython-313.pyc
lubrication_flow_package/network/__pycache__/node.cpython-313.pyc
lubrication_flow_package/solvers/__pycache__/__init__.cpython-313.pyc
lubrication_flow_package/solvers/__pycache__/config.cpython-313.pyc
lubrication_flow_package/solvers/__pycache__/nodal_matrix_solver.cpython-313.pyc
lubrication_flow_package/utils/__pycache__/__init__.cpython-313.pyc
lubrication_flow_package/utils/__pycache__/network_utils.cpython-313.pyc
tests/__pycache__/__init__.cpython-313.pyc
tests/__pycache__/test_hydraulics.cpython-313-pytest-8.3.5.pyc
.env
